html,
body {
  height: 100%;
  position: relative;
  color: white;
}

.app {
  min-height: 100vh;
  overflow: hidden;
  background: black;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0 1 auto;
  display: flex;
}

.content {
  flex: 1 1 auto;
}

.footer {
  flex: 0 1 auto;
  bottom: 0;
  width: 100%;
  display: flex;
  padding-top: 20px;
  align-items: flex-end;
}

.input-group {
  flex: 1 1 auto;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 10px 30px;
  justify-content: center;
  text-align: center;
  font-size: 2.5vw;
}

@media screen and (max-width: 600px) {
  .alarmItem {
    display: none;
  }
}

/*CSS for components used in both indivicual alarm and alarm list*/
div.alarm-list button {
  font-size: 1rem;
  padding: 6px;
}
div.alarm-list button.selected {
  font-weight: bold;
  color: #4487ef;
}
div.alarm-list button.unselected {
  color: dimgray
}
div.alarm-list svg.alarm-icon {
  font-size: 2rem;
}

div.alarm-item button {
  font-size: 6vw;
  /*padding-right: 3vw;*/
}
div.alarm-item button.selected {
  font-weight: bold;
  color: #4487ef;
}
div.alarm-item button.unselected {
  color: dimgray
}
div.alarm-item svg.alarm-icon {
  font-size: 6vw;
}
div.alarm-item button.delete-button svg {
  font-size: 6vw;
  /*padding-left: 3vw;*/
  color: dimgray;
}
div.alarm-item button.delete-button svg:hover {
  color: red;
}

button.delete-button {
  flex: auto;
  justify-content: flex-end;
}

svg.inactive {
    color: lightslategray;
}