html,
body {
  width: 100%;
  height: 100vh;
  position: relative;
  color: white;
  font-size: 1em;
}
h1 { font-size: 2.074em; }
h2 { font-size: 1.728em; }
h3 { font-size: 1.44em; }
h4 { font-size: 1.2em; }

@media only screen and (max-width: 800px) {
  html {
    font-size: 12px;
  }
}
@media only screen and (max-width: 800px) {
  html {
    font-size: 12px;
  }
}
@media only screen and (max-width: 475px) {
  html {
    font-size: 8px;
  }
}

.app {
  min-height: 100vh;
  overflow: hidden;
  background: black;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
}

@media screen and (max-width: 600px) {
  .alarmItem {
    display: none;
  }
}

/*CSS for components used in both indivicual alarm and alarm list*/
div.alarm-list button {
  font-size: 1.5vw;
  padding: 6px;
}
div.alarm-item button {
  font-size: 4vw;
  margin: 0 1rem;
}
div.alarm-list svg.active-icon {
  font-size: 3vw;
}
div.alarm-item svg.active-icon {
  font-size: 5vw;
}

button.selected {
  font-weight: bold;
  color: #4487ef;
}
button.unselected {
  color: dimgray
}

div.alarm-item button.delete-button svg {
  font-size: 6vw;
  /*padding-left: 3vw;*/
  color: dimgray;
}
div.alarm-item button.delete-button svg:hover {
  color: red;
}

/*button.delete-button {
  flex: auto;
  justify-content: flex-end;
}*/

svg.inactive {
    color: lightslategray;
}